/*
This file is part of http://www.github.com/jeanpaulrichter/top1000
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
*/

@import "common.scss";

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

#main {
    max-width: 720px !important;
}

#mask {
    cursor: wait;
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

#error {
    color: red !important;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

#message {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    a {
        color: white;
        text-decoration: underline;
    }

    button {
        border: 0;
        text-decoration: underline;
        padding: 0;
        margin: 0;
        background: transparent;
        color: white;
    }
}

h1 {
    text-align: center !important;
    color: $wasted-color;
    font-weight: bold;
    padding-top: 1rem;
}

#form {
    color: white;
    padding-top: 1rem;
    padding-bottom: 4rem;

    label {
        position: relative;
    }

    input.invalid {
        background-color: lightcoral;
    }

    .button_link {
        margin-left: 1rem;
        a {
            color: white;
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width: 1023px) {
    #form { padding-left: 1rem; padding-right: 1rem; }
}
@media screen and (min-width: 1100px) {
    #form { padding-left: 2rem; padding-right: 2rem; }
}
@media screen and (min-width: 1300px) {
    #form { padding-left: 4rem; padding-right: 4rem; }
}
@media screen and (min-width: 1600px) {
    #form { padding-left: 8rem; padding-right: 8rem; }
}