/*
This file is part of http://www.github.com/jeanpaulrichter/top1000
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
*/

@use "variables" as *;

html {
    font-size: 10px;
}

h1 {
    text-align: left;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 2rem;

    img {
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }
}

@media screen and (min-width: 420px) {
    h1 { 
        text-align: center !important;
        padding-left: 0;
    }
}
@media screen and (min-width: 1023px) {
    html { font-size: 11px; }
}
@media screen and (min-width: 1100px) {
    html { font-size: 12px; }
}
@media screen and (min-width: 1300px) {
    html { font-size: 13px; }
}
@media screen and (min-width: 1600px) {
    html { font-size: 14px; }
}

.hidden {
    display: none !important;
}

.icon-expand { background-image: url(icons/expand.svg); }
.icon-collapse { background-image: url(icons/collapse.svg); }
.icon-menu { background-image: url(icons/menu.svg); }
.icon-menu-open { background-image: url(icons/menu_open.svg); }
.icon-help { background-image: url(icons/help.svg); }
.icon-list { background-image: url(icons/list.svg); }
.icon-logout { background-image: url(icons/logout.svg); }
.icon-vote { background-image: url(icons/vote.svg); }
.icon-expand-black { background-image: url(icons/expand-black.svg); }
.icon-next { background-image: url(icons/arrow-right.svg); }
.icon-prev { background-image: url(icons/arrow-left.svg); }
.icon-chart { background-image: url(icons/pie_chart.svg); }
.icon-login { background-image: url(icons/login.svg); }
.icon-pwreset { background-image: url(icons/pw_reset.svg); }
.icon-register { background-image: url(icons/register.svg); }
.icon-save { background-image: url(icons/save.svg); }
