/*
This file is part of http://www.github.com/jeanpaulrichter/top1000
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
*/

@use "variables" as *;
@use "common";

#top {
    position: relative;
}

#background {
    min-height: 100vh;
    background: $background-color url(icons/pattern1.svg);
}

#main {
    max-width: 1140px !important;
    min-height: 100vh;
    background-color: $background-color;
    border-left: 3px solid $wasted-color;
    border-right: 3px solid $wasted-color;
    position: relative;
}

#menu {
    position: absolute;
    right: 1rem;
    top: 1rem;

    button {
        width: 3rem;
        height: 3rem;
        margin: 0;
        border: none;
        background-repeat: no-repeat;
        background-position: 50%;
        background-color: transparent;
        background-size: 100%;
        border-radius: 50%;

        &.toggled {
            filter: brightness(0) saturate(100%) invert(30%) sepia(63%) saturate(5260%) hue-rotate(319deg) brightness(96%) contrast(100%);
        }
    
        &:not(.toggled) {
            &:hover {
                filter: brightness(0) saturate(100%) invert(30%) sepia(63%) saturate(5260%) hue-rotate(319deg) brightness(96%) contrast(100%);
            }
        }
    }
}
